@model List<Order>

<div class="orders">
    <div class="row">
        <div class="col-xl-8" >
            <div class="card">
                <div class="card-body">
                    <h4 class="box-title"> Siparişler </h4>
                </div>
                <div class="card-body--">
                    <div class="table-stats order-table ov-h" style="height:380px;">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="serial">#</th>
                                    <th>Sipariş No</th>
                                    <th>Kullanıcı-ID</th>
                                    <th>Tarih</th>
                                    <th>Ürün</th>
                                    <th>Adet</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var item in Model)
                                {                                    
                                <tr>
                                    <td>  </td>
                                    <td> @item.OrderNo </td>
                                    <td> @item.UserID </td>
                                    <td> @item.OrderDate </td>
                                    <td> @item.ProductName</td>
                                    <td> @item.Quantity </td>
                                </tr>                            
                                }                                
                            </tbody>
                        </table>
                    </div> <!-- /.table-stats -->
                </div>
            </div> <!-- /.card -->
        </div> <!-- /.col-lg-8 -->

        <div class="col-xl-4">
            <div class="row">
                <div class="col-lg-6 col-xl-12">
                    <div class="card br-0">
                        <div class="card-body">
                            <div class="chart-container ov-h">
                                <div id="flotPie1" class="float-chart"></div>
                            </div>
                        </div>
                    </div><!-- /.card -->
                </div>

                <div class="col-lg-6 col-xl-12">
                    <div class="card bg-flat-color-3  ">
                        <div class="card-body">
                            <h4 class="card-title m-0  white-color "> 2025 </h4>
                        </div>
                        <div class="card-body">
                            <div id="flotLine5" class="flot-line"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /.col-md-4 -->
    </div>
</div>