@model Filters
<!-- Shop Sidebar Start -->
<div class="col-lg-3 col-md-12">
    <form method="POST" action="@Url.Action("FilterbyProduct", "Product")">
        <!-- Category Start -->
        <div class="border-bottom mb-4 pb-4">
            <h5 class="font-weight-semi-bold mb-4">Kategoriye göre Filtrele</h5>
            
            <div class="custom-control custom-radio d-flex align-items-center justify-content-between mb-3">
                <input type="radio" class="custom-control-input" checked id="category-all" value="all" name="filters.CategoryName">
                <label class="custom-control-label" for="category-all">Hepsi</label>
            </div>
            @foreach(var item in ViewBag.Categories as List<CategoryViewModel>)
            {
                <div class="custom-control custom-radio d-flex align-items-center justify-content-between mb-3">
                    <input type="radio" class="custom-control-input" id="@item.Id-@item.Name" 
                           value="@item.Name.ToUpper().Replace('ı','i')" name="filters.CategoryName" 
                           @(ViewData["ActiveCategory"]?.ToString() == @item.Name.ToUpper().Replace('ı','i') ? "checked" : "") />
                    <label class="custom-control-label" for="@item.Id-@item.Name">@item.Name</label>
                </div>
            }
        </div>
        <!-- Category End -->

        <!-- Price Start -->
        <div class="border-bottom mb-4 pb-4">
            <h5 class="font-weight-semi-bold mb-4">Fiyata göre filtrele</h5>

            <div class="custom-control custom-radio d-flex align-items-center justify-content-between mb-3">
                <input type="radio" class="custom-control-input" checked id="price-all" value="all" name="filters.PriceName">
                <label class="custom-control-label" for="price-all">Hepsi</label>
            </div>
            @foreach(var item in Model.Price)
            {
            <div class="custom-control custom-radio d-flex align-items-center justify-content-between mb-3">
                <input type="radio" class="custom-control-input" id="@item.Id-@item.Name" 
                     value="@item.Name" name="filters.PriceName"
                        @(ViewData["ActivePriceFilter"]?.ToString() == @item.Name ? "checked" : "") />
                <label class="custom-control-label" for="@item.Id-@item.Name">$@item.Name</label>
            </div>
            }
            

        </div>
        <!-- Price End -->

        <!-- Color Start -->
        <div class="border-bottom mb-4 pb-4">
            <h5 class="font-weight-semi-bold mb-4">Renge göre filtrele</h5>

            <div class="custom-control custom-radio d-flex align-items-center justify-content-between mb-3">
                <input type="radio" class="custom-control-input" checked id="color-all" value="all" name="filters.ColorName">
                <label class="custom-control-label" for="color-all">Hepsi</label>
            </div>
            @foreach(var item in Model.Colors)
            {
            <div class="custom-control custom-radio d-flex align-items-center justify-content-between mb-3">
                <input type="radio" class="custom-control-input" id="color-@item" 
                        value="@item" name="filters.ColorName"
                        @(ViewData["ActiveColorFilter"]?.ToString() == @item ? "checked" : "") >
                <label class="custom-control-label" for="color-@item"> @item </label>
            </div>
            }
            
        </div>
        <!-- Color End -->

        <button> Filtrele </button>
    </form>

</div>
<!-- Shop Sidebar End -->