@model ProductViewModel

    <!-- Products Start -->
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2"> Ürünler </span></h2>
        </div>
        <div class="row px-xl-5 pb-3">
            @foreach(var item in Model.products.Take(8))
            {
                <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                    <div class="card product-item border-0 mb-4">

                        <a href="/Product/ProductDetail?id=@item.id"> 
                            <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                <img class="img-fluid w-100" src= @item.image alt="" onerror ="src='/img/defaultAyStore.jpeg'">
                            </div>
                            <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                <h6 class="text-truncate mb-3"> @item.brand.ToUpper() - @item.model.ToUpper() </h6>
                                <div class="d-flex justify-content-center">
                                    <h6> $@item.price </h6><h6 class="text-muted ml-2"><del> $@((@item.price*(@item.discount+100))/100) </del></h6>
                                </div>
                            </div>
                        </a>
                        <div class="card-footer d-flex justify-content-between bg-light border">
                            <a href="/Product/ProductDetail?id=@item.id" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i> İncele </a>
                            <a href="/ShopCart/AddToCart?productid=@item.id" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i> Sepete Ekle </a>
                    
                        </div>
                    </div>
                </div>

            }
           

        </div>
    </div>
    <!-- Products End -->
