@model Address
<div class="col-md-6 form-group">
    <label>Adres </label>
    <input class="form-control" type="text" value="@Model.AddressOne">
</div>
<div class="col-md-6 form-group">
    <label>Adres-2</label>
    <input class="form-control" type="text" value="@Model.AddressTwo">
</div>
<div class="col-md-6 form-group">
    <label>Ülke</label>
    <input class="form-control" type="text" value="@Model.Country" </div>
</div>
<div class="col-md-6 form-group">
    <label>Şehir</label>
    <input class="form-control" type="text" value="@Model.City">
</div>
<div class="col-md-6 form-group">
    <label>Mahalle</label>
    <input class="form-control" type="text" value="@Model.State">
</div>
<div class="col-md-6 form-group">
    <label>Posta Codu</label>
    <input class="form-control" type="text" value="@Model.Code">
</div>
